/***********
    VARS
************/
// COLORS
$white: #fff;
$black: #000;
$grey: grey;
$dark_grey: #1d1b1b;

// FONT-SIZE
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-16: 16px;

